@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap');

/****************************************************************
 * Color, background, and typography
 ****************************************************************/

:root {
    --dark: #303030;
    --light: #FFFFFF;
    --neutral-light: #706750;
    --neutral-dark: #ca6750;
    --accent-dark: #193D30;
    --accent-light: #38634F;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--dark);
        --text-color: var(--light);
        --link-visited-color: var(--neutral-dark);
        --hr-color: var(--accent-light);
    }
}

@media screen and (prefers-color-scheme: light) {
    :root {
        --background-color: var(--light);
        --text-color: var(--dark);
        --link-visited-color: var(--neutral-light);
        --hr-color: var(--accent-dark);
    }
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

a {
    height: 2em;
}

a:link {
    color: var(--text-color);
}

a:visited {
    color: var(--link-visited-color);
}

body {
    background-color: var(--background-color);
    background-image: url('./src/assets/soft-wallpaper.png');
    background-repeat: repeat;
    font-family: 'Source Serif Pro', serif;
}

/****************************************************************
 * Responsive layout switch
 ****************************************************************/

body {
    max-width: 900px;
    margin: auto;
    padding: 12pt 12pt 12pt 12pt;
}

div.social {
    display: flex;
}

div.m-img, div.m-link, div.m-text, div.m-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.m-text {
    align-items: flex-start;
}

/* When the screen width is less than 600px */
@media screen and (max-width: 600px) {
    img {
        max-width: 50%;
    }

    div.m-img, div.m-link, div.m-contact {
        align-items: flex-start;
    }

    div.m-text::before, div.m-text::after {
        content: "";
        height: 12pt;
    }
}

/* When the screen width is greater than 600px */
@media screen and (min-width: 600px) {
    main.main {
        display: grid;
        gap: 12pt 12pt;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "img text"
            "link text"
            "contact text";
    }
    
    div.m-img {
        grid-area: img;
    }
    
    div.m-link {
        grid-area: link;
    }
    
    div.m-text {
        grid-area: text;
        padding: 12pt 12pt 12pt 12pt;
    }

    div.m-contact {
        grid-area: contact;
    }

    div.m-img, div.m-link, div.m-contact {
        align-items: flex-end;
    }

    img {
        max-width: 80%;
    }
}

/****************************************************************
 * Fonts, image sizes
 ****************************************************************/

p.title {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 12pt;
    margin-bottom: 12pt;
}

p.heading {
    font-size: 1.5rem;
    margin-top: 12pt;
    margin-bottom: 12pt;
}

img {
    border-radius: 50%;
}

div.social > a > i {
    margin: 4px 4px 4px 4px;
    font-size: 2em;
}
